.imagescroll {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 100px 0;
  text-align: center;
  overflow: hidden;
}

.aboutimagescroll p {
  text-align: center;
  color: #5c5c64;
  font-size: 16px;
  font-weight: 400; 
}

.realimagescroll {
  position: relative;
  overflow: hidden;
}


.realimagescroll::before,
.realimagescroll::after {
  content: '';
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.realimagescroll::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
}

.realimagescroll::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.6), transparent);
}

.realscroll1 {
  display: flex;
  gap: 40px;
  animation: scroll-left 30s linear infinite;
}

.realscroll1 img {
  height: 39px;
  width: 128px;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.realscroll1 img:hover {
  filter: grayscale(0%);
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
